@page "/products"

<h3>Каталог товаров</h3>
@if (products == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <MudTable Items="@products" Hover="true" Striped="true" Dense="true" FixedHeader="true"
              CanCancelEdit="true" RowEditPreview="BackupItem" RowEditCancel="ResetItemToOriginalValues"
              RowEditCommit="ItemHasBeenCommitted" ReadOnly="false" @bind-SelectedItem="selectedItem1"
              CommitEditTooltip="Commit Edit" OnCommitEditClick="@(() => Snackbar.Add("Сохранение"))"
              IsEditRowSwitchingBlocked="false"
              ApplyButtonPosition="TableApplyButtonPosition.End" EditButtonPosition="TableEditButtonPosition.End"
              EditTrigger="TableEditTrigger.RowClick"
              SortLabel="Sort By" Filter="new Func<Products, bool>(FilterCycleCheck)">
        <ToolBarContent>
            <MudButton @onclick="Add" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary">Добавить</MudButton>
            <MudTextField @bind-Value="@searchterm" Placeholder="Поиск" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small" Class="mt-0" Style="margin-left:70%"></MudTextField>
        </ToolBarContent>
        <ColGroup>
            <col style="width:50px;" />
            <col />
            <col />
            <col style="width:50px;" />
            <col style="width:50px;"/>
            <col style="width:50px;" />
            <col />
        </ColGroup>

        <HeaderContent>
            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Products, object>(x=>x.Id)">Идентификатор</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Products, object>(x=>x.Name)">Наименование товара</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Products, object>(x=>x.Code)">Артикул</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Products, object>(x=>x.ProductGroup.Name)">Товарная группа</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Products, object>(x=>x.ProductStatuses.Name)">Тип</MudTableSortLabel></MudTh>
            <MudTh>Минимальный остаток</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Идентификатор">@context.Id</MudTd>
            <MudTd DataLabel="Наименование">
                <MudTextField @bind-Value="@context.Name" Required></MudTextField>
                </MudTd>
            <MudTd DataLabel="Code">
                <MudTextField @bind-Value=@context.Code Required></MudTextField>
                </MudTd>
            <MudTd DataLabel="ProductGroup">@context.ProductGroup.Name</MudTd>
            <MudTd DataLabel="ProductStatus">@context.ProductStatuses.Name</MudTd>
            <MudTd DataLabel="MinimumStock">@context.MinimumStock</MudTd>
        </RowTemplate>
        <RowEditingTemplate>
            <MudTd DataLabel="Идентификатор">@context.Id</MudTd>
            <MudTd DataLabel="Наименование">
                <MudTextField @bind-Value="@context.Name" Required />
            </MudTd>
            <MudTd DataLabel="Code">
                <MudTextField @bind-Value=@context.Code Required></MudTextField>
            </MudTd>
            <MudTd DataLabel="ProductGroup">
                <MudSelect @bind-Value=@context.ProductGroup.Name>
                    @foreach (var group in groups)
                    {
                        <MudSelectItem Value="group.Name" Label="group.Name" />
                    }
                </MudSelect>
            </MudTd>
            <MudTd DataLabel="ProductStatus">
                <MudSelect @bind-Value=@context.ProductStatuses.Name>
                    @foreach (var status in statuses)
                    {
                        <MudSelectItem Value="status.Name" Label="status.Name" />
                    }
                </MudSelect>
            </MudTd>
            <MudTd DataLabel="MinimumStock">
                <MudTextField @bind-Value=@context.MinimumStock Required></MudTextField>
                </MudTd>
        </RowEditingTemplate>
        <PagerContent>
            <MudTablePager RowsPerPageString="Строк на странице:" PageSizeOptions="new int[]{10,20}" />
        </PagerContent>
    </MudTable>
}

@code {
    protected IEnumerable<Products> products;
    protected IEnumerable<ProductGroup> groups;
    protected IEnumerable<ProductStatuses> statuses;
    string searchterm = "";
    private Products elementBeforeEdit = new();
    private Products selectedItem1;
    private List<string> editEvents = new();
    protected override async Task OnInitializedAsync()
    {
        products = await WarehouseApiClient.GetProductsAsync();
        groups = await WarehouseApiClient.GetProductGroupAsync();
        await base.OnInitializedAsync();
    }

    private bool FilterCycleCheck(Products item)
    {
        if (item.Name.Contains(searchterm))
        {
            return true;
        }
        if (item.Code.Contains(searchterm))
        {
            return true;
        }
        if (item.ProductGroup.Name.Contains(searchterm))
        {
            return true;
        }
        if (item.ProductStatuses.Name.Contains(searchterm))
        {
            return true;
        }
        return false;
    }
    private void AddEditionEvent(string message)
    {
        editEvents.Add(message);
        StateHasChanged();
    }
    private void BackupItem(object element)
    {
        elementBeforeEdit = new()
            {
                Name = ((Products)element).Name,
                Code = ((Products)element).Code,
                BoxSize = ((Products)element).BoxSize,
                ProductGroupId = ((Products)element).ProductGroupId,
                ProductStatusId = ((Products)element).ProductStatusId,
                MinimumStock = ((Products)element).MinimumStock,
                MaximumShelfLife = ((Products)element).MaximumShelfLife,
                ProductGroup = ((Products)element).ProductGroup,
                ProductStatuses = ((Products)element).ProductStatuses
            };
        AddEditionEvent($"Событие предварительного просмотра редактирования строки: создана резервная копия элемента {((Products)element).Name}");
    }
    private void ResetItemToOriginalValues(object element)
    {
        ((Products)element).Name = elementBeforeEdit.Name;
        AddEditionEvent($"Событие отмены редактирования строки: Редактирование элемента {((Products)element).Name} отмененный");
    }
    private async void ItemHasBeenCommitted(object element)
    {
        await WarehouseApiClient.UpdateProductsAsync((Products)element);
        AddEditionEvent($"Событие фиксации редактирования строки: Изменения в элементе {((Products)element).Name} зафиксированы");
    }

    private void Add()
    {
        DialogOptions closeOnEscapeKey = new DialogOptions()
            {
                CloseOnEscapeKey = true
            };

        DialogService.Show<AddProduct>
            ("Добавить новый товар", closeOnEscapeKey);
    }
}




