@page "/references/order-status"

<h3>Статусы заказов</h3>

@if (types == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <MudTable Items="@types" Hover="true" Striped="true" Dense="false" FixedHeader="true"
              CanCancelEdit="true" RowEditPreview="BackupItem" RowEditCancel="ResetItemToOriginalValues"
              RowEditCommit="ItemHasBeenCommitted" ReadOnly="false" @bind-SelectedItem="selectedItem1"
              CommitEditTooltip="Commit Edit" OnCommitEditClick="@(() => Snackbar.Add("Вызван обработчик редактирования фиксации"))"
              IsEditRowSwitchingBlocked="false"
              ApplyButtonPosition="TableApplyButtonPosition.End" EditButtonPosition="TableEditButtonPosition.End"
              EditTrigger="TableEditTrigger.RowClick"
              SortLabel="Sort By" Filter="new Func<OrderStatuses, bool>(FilterCycleCheck)">
        <ToolBarContent>
            <MudButton @onclick="Add" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary">Добавить</MudButton>
            <MudTextField @bind-Value="@searchterm" Placeholder="Поиск" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small" Class="mt-0" Style="margin-left:70%"></MudTextField>
        </ToolBarContent>
        <ColGroup>
            <col style="width:50px;" />
            <col />
            <col style="width:50%;" />

        </ColGroup>
        <HeaderContent>
            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<OrderStatuses, object>(x=>x.Id)">Идентификатор</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<OrderStatuses, object>(x=>x.Name)">Наименование</MudTableSortLabel></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Идентификатор">@context.Id</MudTd>
            <MudTd DataLabel="Наименование">@context.Name</MudTd>
        </RowTemplate>
        <RowEditingTemplate>
            <MudTd DataLabel="Идентификатор">@context.Id</MudTd>
            <MudTd DataLabel="Наименование">
                <MudTextField @bind-Value="@context.Name" Required />
            </MudTd>
        </RowEditingTemplate>
        <PagerContent>
            <MudTablePager RowsPerPageString="Строк на странице:" PageSizeOptions="new int[]{10,20}" />
        </PagerContent>
    </MudTable>
}

@code {
    protected IEnumerable<OrderStatuses> types;
    string searchterm = "";
    private OrderStatuses elementBeforeEdit = new();
    private OrderStatuses selectedItem1;
    private List<string> editEvents = new();
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        types = await WarehouseApiClient.GetOrderStatusesAsync();
    }
    private bool FilterCycleCheck(OrderStatuses item)
    {
        if (item.Name.Contains(searchterm))
        {
            return true;
        }
        if (item.Id.ToString().Contains(searchterm))
        {
            return true;
        }
        return false;
    }
    private void AddEditionEvent(string message)
    {
        editEvents.Add(message);
        StateHasChanged();
    }
    private void BackupItem(object element)
    {
        elementBeforeEdit = new()
            {
                Name = ((OrderStatuses)element).Name
            };
        AddEditionEvent($"Событие предварительного просмотра редактирования строки: создана резервная копия элемента {((OrderStatuses)element).Name}");
    }
    private void ResetItemToOriginalValues(object element)
    {
        ((OrderStatuses)element).Name = elementBeforeEdit.Name;
        AddEditionEvent($"Событие отмены редактирования строки: Редактирование элемента {((OrderStatuses)element).Name} отмененный");
    }
    private async void ItemHasBeenCommitted(object element)
    {
        await WarehouseApiClient.UpdateOrderStatusesAsync((OrderStatuses)element);
        AddEditionEvent($"Событие фиксации редактирования строки: Изменения в элементе {((OrderStatuses)element).Name} зафиксированы");
    }

    private void Add()
    {
        DialogOptions closeOnEscapeKey = new DialogOptions()
            {
                CloseOnEscapeKey = true
            };

        DialogService.Show<AddOrderStatuses>
            ("Добавить новый статус", closeOnEscapeKey);
    }
    
}